<div id="block-<%= aid %>" class="artist-block" data-artist="<%= name %>" data-track="<%= track_name %>" data-tid="<%= tid %>" data-aid="<%= aid %>">
    <img src=<%= image %> />
    <h1><%= name %></h1>
    <p><%= track_name %></p>
    <a href="#" class="like-this" id="like-<%= aid %>">YES</a>
</div>