<div class="list-item" data-artist="<%= artist %>" data-track="<%= track %>" data-tid="<%= tid %>" data-aid="<%= aid %>">
    <div class="image-holder">
        <image src="<%= image %>" />
    </div>
    <div class="info-holder" data-artist="<%= artist %>" data-track="<%= track %>" data-tid="<%= tid %>" data-aid="<%= aid %>">
        <h2><%= artist %></h2>
        <p><%= track %></p>
        <div class="controls">
            <a href="#" class="play ui-button ui-left">Play</a><a href="#" class="pause ui-button ui-right">Pause</a>
        </div>
    </div>
    <div class="clear"></div>
</div>