!!! 5
!!!
%html
    :plain
        <!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
        <!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
        <!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
        <!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    %head
        %title SOUNDCLASH
        = stylesheet_link_tag 'boilerplate.css'
        = stylesheet_link_tag '960.css'
        = stylesheet_link_tag 'application.css'
        = stylesheet_link_tag 'buttons.css'
        = stylesheet_link_tag 'ui-buttons.css'
        = javascript_include_tag 'libs/modernizr-1.7.min.js'
        = csrf_meta_tag

    %body{ :data => {:controller => params[:controller], :action => params[:action]} }
    
        #apiswf
    
        %header
            %img{:src => 'images/logo.png'}
            

        #view-content
        
            #flash-message-container
                - flash.each do |name, msg|
                    = content_tag :div, content_tag(:p, msg), :class => 'flash-message '+name.to_s
            
            = yield
            
            #start-form-container
            
            #battle-container
            
            #loader-container
                %img{:src => '/images/loader.gif'}
            
        #playlist-container
            .playlist-header
                %a#playlist-link{:href => '#', :data => {:state => 'closed'}} Share my playlist
            #playlist-preview
            
            #playlist-share
                %h3 
                    Your playlist's URL is
                    %span#playlist-url
                :erb
                    <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-text="Here's a kickass playlist that I made using Soundclash:" >Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
                :plain
                    <iframe src="http://www.facebook.com/plugins/like.php?app_id=107280719361672&amp;href&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>
            #playlist-main
            
            
        
        %script{ :src => '//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js' }
        :javascript
            window.jQuery || document.write("<script src='js/libs/jquery-1.5.1.min.js'>\x3C/script>")
        %script{ :src => 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js' }
        %script{ :src => '//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js' }
        = javascript_include_tag 'token.js'
        = javascript_include_tag 'rails.js'
        = javascript_include_tag 'libs/ejs_production.js'
        = javascript_include_tag 'libs/plugins/jquery.validate.js'
        = javascript_include_tag 'application.js'